.cardWrapper:hover {
  img {
    transform: scale(1.01);
  }
  .title {
    text-decoration: underline;
  }
}
@media screen and (max-width: 375px) {
  .desc {
    max-height: 140px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
