@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body { background: white; color: black; }

@media (prefers-color-scheme: light) {
  body { background: white; color: black; }
}

@media (prefers-color-scheme: dark) {
  body { background: black; color: white; }
}

a {
  color: cornflowerblue;
}
a:hover {
  text-decoration: underline;
}

