@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700,900');

body {
  font-family: 'lato';
  max-width: 2200px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lora', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

@import 'post.css';
